.root {
  // position: relative;
  width: 1400px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.12);

  padding: 1rem;
  .list {
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .item {
      z-index: 1;

      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      .number {
        margin-right: 1rem;
        font-size: 3rem;
        color: var(--color-primary);
      }
      .about {
        h3 {
        }
        p {
        }
      }
    }
  }
}
